{% extends 'header.html' %}

{% block head %}


<title>Insurance Fraud Detector</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Insurance Fraud Detection Form</legend>


            <div class="mb-3">
                <label class="form-label">Months</label>
                <input class="form-control" type="text" name="months_as_customer" placeholder="Enter the number of months"
                    required />
            </div>

            
            <div class="mb-3">
                <label class="form-label">Policy CSL</label>
                <select class="form-control" type="text" name="policy_csl" placeholder="Enter the vaue of policy" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>

                        <option value="1">
                            100/300
                        </option>
                        <option value="2.5">
                            250/500
                        </option>
                        <option value="5">
                            500/1000
                        </option>
                </select>
            </div>


            <div class="mb-3">
                <label class="form-label">Policy Deductable</label>
                <input class="form-control" type="text" name="policy_deductable" placeholder="Enter the deductble value"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Policy Annual Premium</label>
                <input class="form-control" type="text" name="policy_annual_premium" placeholder="Enter the annual premium value"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Umbrella Limit</label>
                <input class="form-control" type="text" name="umbrella_limit" placeholder="Enter the umbrella limit value"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-control" type="text" name="insured_sex" placeholder="Enter the sex" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="0">
                            FEMALE
                        </option>
                        <option value="1">
                            MALE
                        </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Insured Education</label>
                <select class="form-control" type="text" name="insured_education_level" placeholder="Enter the top education" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="1">
                            JD
                        </option>
                        <option value="2">
                            High School
                        </option>
                        <option value="3">
                            College
                        </option>
                        <option value="4">
                            Masters
                        </option>
                        <option value="5">
                            Associate
                        </option>
                        <option value="6">
                            MD
                        </option>
                        <option value="7">
                            PhD
                        </option>
                </select>
            </div>


            <div class="mb-3">
                <label class="form-label">Insured Occupation</label>
                <select class="form-control" type="text" name="insured_occupation" placeholder="Enter the occupation" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="craft-repair">
                            Repair
                        </option>
                        <option value="machine-op-inspct">
                            Machine operation
                        </option>
                        <option value="sales">
                            Sales
                        </option>
                        <option value="armed-forces">
                            Armed Forces
                        </option>
                        <option value="tech-support">
                            Tech Support
                        </option>
                        <option value="prof-specialty">
                            Professor
                        </option>
                        <option value="other-service">
                            Other Services
                        </option>
                        <option value="priv-house-serv">
                            Housing Service
                        </option>
                        <option value="exec-managerial">
                            Executive Manager
                        </option>
                        <option value="protective-serv">
                            Protective Service
                        </option>
                        <option value="transport-moving">
                            Transport
                        </option>
                        <option value="handlers-cleaners">
                            Handler-Cleaning
                        </option>
                        <option value="adm-clerical">
                            Administrative-Clerical
                        </option>
                        <option value="farming-fishing">
                            Farming/Fishing
                        </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Insured Relationship</label>
                <select class="form-control" type="text" name="insured_relationship" placeholder="Enter the relationship with insured"required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="husband">
                            Husband
                        </option>
                        <option value="other-relative">
                            Other Relative
                        </option>
                        <option value="own-child">
                            Own Child
                        </option>
                        <option value="unmarried">
                            Unmarried
                        </option>
                        <option value="wife">
                            Wife
                        </option>
                        <option value="not-in-family">
                            Not in Family
                        </option>
                </select>
            </div>


            <div class="mb-3">
                <label class="form-label">Capital Gains</label>
                <input class="form-control" type="text" name="capitalgains" placeholder="Enter the capital gain value"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Capital Loss</label>
                <input class="form-control" type="text" name="capitalloss" placeholder="Enter the capital loss value"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Incident Type</label>
                <select class="form-control" type="text" name="incident_type" placeholder="Enter the inscident type" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="Single Vehicle Collision">
                            Single Vehicle
                        </option>
                        <option value="Vehicle Theft">
                            Theft
                        </option>
                        <option value="Multi-vehicle Collision">
                            Multi Vehicle
                        </option>
                        <option value="Parked Car">
                            Parked
                        </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Collision Type</label>
                <select class="form-control" type="text" name="collision_type" placeholder="Enter the collision type" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="Side Collision">
                            Side
                        </option>
                        <option value="Rear Collision">
                            Rear
                        </option>
                        <option value="Front Collision">
                            Front
                        </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Incident Severity</label>
                <select class="form-control" type="text" name="incident_severity" placeholder="Enter severity of the incident" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="1">
                            Trivial Damage
                        </option>
                        <option value="2">
                            Minor Damage
                        </option>
                        <option value="3">
                            Major Damage
                        </option>
                        <option value="4">
                            Total Loss
                        </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Authorities Contacted</label>
                <select class="form-control" type="text" name="authorities_contacted" placeholder="Enter the authorities contacted" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="Police">
                            Police
                        </option>
                        <option value="None">
                            None
                        </option>
                        <option value="Fire">
                            Fire
                        </option>
                        <option value="Other">
                            Other
                        </option>
                        <option value="Ambulance">
                            Ambulance
                        </option>
                </select>

            </div>

            <div class="mb-3">
                <label class="form-label">Incident Hour</label>
                <input class="form-control" type="text" name="incident_hour_of_the_day" placeholder="Enter the incident hour"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Number of Vehicles Involved</label>
                <input class="form-control" type="text" name="number_of_vehicles_involved" placeholder="Enter the number of vehicles involved in accident"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Property Damage</label>
                <select class="form-control" type="text" name="property_damage" placeholder="Is property damaged" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="0">
                            NO
                        </option>
                        <option value="1">
                            YES
                        </option>

                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Bodily injuries</label>
                <input class="form-control" type="text" name="bodily_injuries" placeholder="Enter the value of bodily injuries"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Witness</label>
                <input class="form-control" type="text" name="witnesses" placeholder="Enter the number of witness"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Police Report</label>
                <select class="form-control" type="text" name="police_report_available" placeholder="is police report available" required />
                    <option class="placeholder" selected disabled value="">Select your value</option>
                        <option value="0">
                            NO
                        </option>
                        <option value="1">
                            YES
                        </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Injury Claim</label>
                <input class="form-control" type="text" name="injury_claim" placeholder="Enter injury claim value"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Property Claim</label>
                <input class="form-control" type="text" name="property_claim" placeholder="Enter property claim value"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Vehicle Claim</label>
                <input class="form-control" type="text" name="vehicle_claim" placeholder="Enter vehicle claim value"
                    required />
            </div>


            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Insurance Fraud" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Insurance Fraud
            </div>
            <div class="card-body">
        {% if context['insurance_data'] is not none %}
        <table class="table table-striped">
            <caption>Insurance Fraud Detection </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['insurance_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>Is the insurance claim valid </td>
                <td>
                    {{ context['fraud_value'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to predict insurance fraud</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}